
mixin svg(name)
  - const sprite = `${baseDir}img/sprites.svg`
  svg&attributes(attributes)
    use(xlink:href= `${sprite}#${name}`)

//-  +svg('point')(class="fghfg")
//-  viewBox нужен для адаптивности


//- +img-retina('', '', '', '', '', '')
mixin img-retina(name, type, alt, className, width, height, ...args)
  - let srcsetAttr = attributes.lazy ? 'data-srcset' : 'srcset';
  - let srcAttr = attributes.lazy ? 'data-src' : 'src';
  - let sourceWebp = {};
  - let img = {};

  - sourceWebp[srcsetAttr] = `${baseDir}img/${name}.webp 1x, ${baseDir}img/${name}@2x.webp 2x`;
  - img.class = attributes.lazy ? `lazyload ${className}` : `${className}`;
  - img[srcAttr] = `${baseDir}img/${name}.${type}`;
  - img[srcsetAttr] = `${baseDir}img/${name}.${type} 1x, ${baseDir}img/${name}@2x.${type} 2x`;
  - img.alt = alt;
  - img.width = width;
  - img.height = height;

  picture
    if args.length > 0
      - let sourceArgsWebp = {};
      - let sourceArgs = {};


      each item in args
        - sourceArgsWebp[srcsetAttr] = `${baseDir}img/${name}-${item}.webp 1x, ${baseDir}img/${name}-${item}@2x.webp 2x`;
        - sourceArgs[srcsetAttr] = `${baseDir}img/${name}-${item}.${type} 1x, ${baseDir}img/${name}-${item}@2x.${type} 2x`;
        - let media = `(max-width: ${item}px)`

        source(media = `${media}` type="image/webp")&attributes(sourceArgsWebp)
        source(media = `${media}` type= type==='jpg'?"image/jpeg":`image/${type}`  )&attributes(sourceArgs)

    source(type="image/webp")&attributes(sourceWebp)
    img&attributes(img)



//- +img-svg('', '', '', '', '', '')
mixin img-svg(name, className, alt, width, height)
  img(class=`${className}` src=`${baseDir}img/svg/${name}.svg` alt=alt width=width height=height loading="lazy")
