 
nav.header-main__nav.nav#menu
  ul.nav__list 
    +menu(nav, 'header')
    //- each item in nav 
      li.nav__item(class=`nav__item--${item.icon}`)
        a.nav__link(href=item.submenu ? undefined  :`/${item.icon}` class=`nav__link--${item.icon}`)
          +svg(`${item.icon}`)(class=`nav__icon nav__icon--${item.icon}`)
          span= item.label 

        if item.submenu 
          ul.nav__submenu.submenu.submenu--main
            each el in item.submenu
              li.submenu__item.submenu__item--main
                a.submenu__link.submenu__link--main(href= el.submenu ? undefined  : `/${el.icon}` class=el.icon && `submenu__link--${el.icon}` class=el.submenu && 'submenu__link-js')
                  if el.icon 
                    +svg(el.icon)(class=`submenu__icon submenu__icon--${el.icon}`)
                  span= el.label
                  if el.submenu 
                    +svg('arr')(class='submenu__arr')

                if el.submenu
                  ul.submenu
                    each elem in el.submenu
                      li.submenu__item
                        a.submenu__link.submenu__link(href="")
                          span= elem.label 


                

                
                
                
